<!-- Load particles -->
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', '{{ site.baseurl }}/js/particles.json')
    // particlesJS.load('particles-js', '/js/particles.json')
</script>

<!-- Dark mode switch  -->
<script src='{{ site.baseurl }}/js/dark-mode-switch.js'></script>

<!-- LaTex for math -->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>